@import 'src/sass/main.scss';

.dragging {
  opacity: 0;
}

.iconBox {
  margin: 0 auto;
  width: 80px;
  height: 80px;
  background-color: #f2f2f2;
  border-radius: 20px;
}

.iconImage {
  width: 100%;
}

.iconImageWrapper {
  padding: 12px;
}

.iconName {
  margin-top: $space-xs;
  text-align: center;
  padding: $space-tiny $space-sm;
  border-radius: 16px;
  background: rgba(#000, 0.5);
  font-weight: 500;
}
