@import '../sass/main.scss';

.container {
  height: 100%;
}

.iconPanel {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.oneRow {
  height: 33%;
}

.twoRow {
  height: 66%;
}

.threeRow {
  height: 100%;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 20%;
  width: 20%;
  height: 33%;
  color: white;
  padding: 20px;
  background: transparent;
}
